/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/
/* Your styles should be mobile-first and responsive */

/** 
  * If you are unclear on how to utilize a mobile-first, responsive technique to write your CSS, here is an example: 
  *
  * https://github.com/andreacardybailey/responsive_example/blob/master/styles/responsive-base.css 
  *
*/

@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Gothic+A1:wght@500;600;700&display=swap');

* {
  margin: 0;
}

html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

main {
  display: flex;
}

.welcome-container {
  background-image: url(../images/filmroll.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 20px;
  border: solid 1px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
}

.welcome-container h1 {
  margin-top: 60px;
}

.question-container {
  background-image: url(../images/filmroll.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 20px;
  border: solid 1px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
}


.question-container p:first-child {
  padding: 20px;
  margin-top: 40px;
}

.next-class {
  background-image: url(../images/filmroll.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 10px 40px;
  padding: 20px;
  border: solid 1px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
}

.next-class p {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#question-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: flex;
  padding: 10px;
}

.m-choice {
  display: flex;
  padding: 10px;
  align-items: center;
  font-family: 'Gothic A1', sans-serif;
  margin-top: 10px;
}

.h1-container {
  font-family: 'Anonymous Pro', monospace;
  text-transform: uppercase;
  margin-bottom: 40px;
}

p {
  font-family: 'Gothic A1', sans-serif;
  font-size: 15px;
  text-align: center;
}

.action-btn {
  margin: 40px 20px;
  padding: 5px;
  font-family: 'Gothic A1', sans-serif;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
}

.test-btn {
  margin: 40px 20px;
  padding: 5px;
  font-family: 'Gothic A1', sans-serif;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
}

.next-btn {
  font-family: 'Gothic A1', sans-serif;
  padding: 10px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
}

h1 {
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
}

h2 {
  font-family: 'Anonymous Pro', monospace;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 60px;

}
.results-container {
  background-image: url(../images/filmroll.png);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  /* margin: 100px; */
  padding: 20px;
  border: solid 1px;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
}

.continue-btn {
  margin: 40px 20px;
  padding: 5px;
  font-family: 'Gothic A1', sans-serif;
  box-shadow: 0 5px 6px 0 rgba(0, 0, 0, 0.5);
}

.align-right {
  text-align: right;
}

.italic {
  font-style: italic;
}

.correct {
  color: #008000;
}

.incorrect {
  color: #ff0000;
}

.bottom-margin {
  margin-bottom: 10px;
}

.bold {
  font-weight: bold;
}