* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
}

.welcome-container, 
.results-container,
.current-container,
.question-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 25px;
  padding: 20px;
  border: solid 1px;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.50);
}

.question-container p {
  padding: 20px;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form#question-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

label {
  display: inline;
  padding: 10px;
}

input {
  display: inline;
}

.m-choice {
  display: flex;
  padding: 10px;
  align-items: center;
  font-family: 'Gothic A1', sans-serif;
  margin-top: 10px;
}

.h1 {
  font-family: 'Anonymous Pro', monospace;
  text-transform: uppercase;
  margin-bottom: 40px;
}

p {
  font-family: 'Gothic A1', sans-serif;
  font-size: 20px;
}

.action-btn,
.continue-btn {
  margin: 40px 20px;
  padding: 5px;
  font-family: 'Gothic A1', sans-serif;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.50);
}

.test-btn {
  margin: 40px 20px;
  padding: 5px;
  font-family: 'Gothic A1', sans-serif;
  box-shadow: 0 5px 6px 0 rgba(0,0,0,0.50);